<div class="">
  @if (addOnsQuery.isLoading()) {
  <div class="flex justify-center items-center py-8">
    <div class="card flex justify-center">
      <p-progress-spinner strokeWidth="6" fill="transparent" />
    </div>
  </div>
  }
  <div
    class="grid grid-cols-1 lg:grid-cols-3 gap-4 items-stretch"
  >
    @for (addon of addons(); track addon.id) {
    <div class="addon-item h-full">
      <p-card class="h-full flex flex-col">
        <ng-template pTemplate="header">
          <img
            [src]="addon.image_url"
            [alt]="addon.name"
            class="w-full h-48 object-contain mx-auto"
          />
        </ng-template>
        <div class="text-center flex-1 flex flex-col justify-between">
          <div>
            <h3 class="font-semibold text-lg mb-2">{{ addon.name }}</h3>
          </div>
          <div>
            <p class="text-pink-600 font-bold text-xl mb-3">
              KES {{ addon.price }}
            </p>
            <p-checkbox
              [(ngModel)]="addon.selected"
              [binary]="true"
              label="addon.selected ? 'Added' : 'Add to order'"
              (onChange)="onAddonToggle(addon)"
              class="w-full"
            >
            </p-checkbox>
          </div>
        </div>
      </p-card>
    </div>

    }
  </div>
  @if ((addOnsQuery.data()?.length ?? 0) > 200) {
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first()"
    [rows]="15"
    [totalRecords]="total()"
    [rowsPerPageOptions]="[15,  30, 50]"
  />
  }
</div>
